@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.black_btn {
  @apply rounded-full border border-primary bg-secondary py-1.5 px-5 text-white transition-all hover:bg-primary
   hover:text-white text-center text-sm flex items-center justify-center;
}
.menu_btn {
  @apply rounded-full border border-primary bg-secondary py-1.5 px-5 text-white transition-all hover:bg-primary
   hover:text-white text-center text-lg flex items-center justify-center;
}

.active_btn {
  @apply rounded-full border border-primary bg-primary py-1.5 px-5 text-secondary transition-all hover:bg-primary
   hover:text-white text-center text-lg flex items-center justify-center;
}

.menu_title {
  @apply text-secondary font-logoFont font-bold;
  font-size: 32px;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-secondary min-w-[150px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-white hover:text-primary font-medium;
}

.title {
  @apply text-white font-logoFont font-bold;
  text-shadow: 0.5px 0.5px 0.5px black, 0 0 0.2em #ffbe33, 0 0 0.1em #ffbe33;
  font-size: 20px;
}
.title_shadow {
  @apply text-white font-logoFont font-bold;
  text-shadow: 0.5px 0.5px 0.5px black, 0 0 0.2em #ffbe33, 0 0 0.1em #ffbe33;
}

.my-text-shadow {
  text-shadow: 0.5px 0.5px yellow;
}

.black-text-shadow {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffd700;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  color: #ffd700;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.slick-dots {
  @apply bg-gray-300;
}

.slick-dots li button::before {
  font-size: 8px;
  color: #222831;
  opacity: 0.7;
}

.slick-dots li.slick-active button::before {
  font-size: 20px;
  color: #ffbe33;
  opacity: 1;
  transition: all;
}
